body {
    font-family: Helvetica, Arial, sans-serif;


}
.headcontent {
    background-color:#005fa5;
    overflow: hidden;
    border-bottom: 1px solid #fff;
    }
ul {
    list-style: none;
    padding: 0;
}
p {
font-size: 20px;

}

h1 {
padding: 35px, 35px, 35px, 0px;
    color: whitesmoke;
    font-size: 35px;
}


.card-title {
    padding: 35px, 35px, 35px, 0px;
    color: #005fa5;
    font-size: 35px;
}

.card-body  {
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 45px;
    margin: 50px 0px 100px 200px;
    display: block;
    max-width:750px;
    box-shadow: 0 0 0 1px #163772 inset,0 0 0 2px rgba(255, 255, 255, 0.15) inset,0 4px 0 0      #333797,0 4px 0 1px rgba(0, 0, 0, 0.4),0 4px 4px 1px rgba(0, 0, 0, 0.5);

    }
form {
margin-left: 100px;
}
.card-title{
margin-left: 100px;
}

text {
    font-size: 50%;


}
.checkbox .radio {
font-size: 17px;
}
.button {
    position: flex;
    background-color: #005fa5;
    color: white;
    /*margin-right: 25px;*/
    font-size: 20px;
    padding: 2px 12px;
    /*border: none;*/
    cursor: hand;
    color:  white;
    border-radius: 5px;
    margin: 55px, 0px, 0px, 0px;
    }
.input {
/*text-align: center;*/
}

.footer1 {
  /*position: absolute;*/
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #e1f0f5;
  margin-top: 100px;
}

.footerImage {
max-width: 100%;
height: fixed 500px;
width: auto;
}

.helpText {
font-size: 12px;
font-style: italic;
}

label {
margin-bottom: 0;
}

.headline {
    font-size: 45px;
    margin-bottom: 0;
    margin-left: 10px;
}

.poweredBy {
    font-size: 13px;
    margin-top: 0;
    color: #b4c0c4;
    font-style: italic;
    margin-left: 13px;
}

.dog {
position: absolute;
top: 4px;
left: 218px;
}