body {
    font-family: Helvetica, Arial, sans-serif;
    }
    h1 {
        padding: 35px, 35px, 35px, 0px;
        color:#005fa5;
        font-size: 50px;



    }
    h2 {
    font-size: 25px;
    color:#005fa5;

    }
.headcontent {
    background-color:#005fa5;
    border-bottom: 1px solid #fff;

    }


    .card-body  {
        background-color: rgba(233, 233, 233, 1);
        border-radius: 5px;
        padding: 45px;
        margin: 50px 0px 100px 200px;
        display: block;
        max-width:750px

        }



        .score {
            /*max-width: fit-content;*/
            /*font-size: 70px;*/
            margin-top: 50px;

            margin-bottom:100px;
            padding: 10px 10px;
            font-family: Helvetica, Arial, sans-serif;
            border: solid 1px black;
            border-radius: 5px;
            background-color: white;
            color:#005fa5;
            height: 80px;
            top: 10px;

            display: inline-block;
            width: 100%;
            border: 1px solid #ccc;
            }


        .currentscore {
         float: left;
         font-size: 40px
          }
       .progresswheel{
          float: right;

        }

      img { width:20%;
        height: auto;
        float: right;
        }




        .hasAgreements{
        font-family: Helvetica, Arial, sans-serif;
        /*width: 650px;*/
        border: 2px solid green;
        margin-bottom: 50px;
        border-radius: 5px;
        background-color: white;



        }
        .doesNotHaveAgreements{
        font-family: Helvetica, Arial, sans-serif;
        /*width: 600px;*/
        border: 2px solid red;
        /*margin: 50px;*/
        border-radius: 5px;
        background-color: white;

        }