<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHB EcoHealth</title>
    <link rel="icon" href="http://www.metropol.se/imagebank/larges/1001/%7BB1F5469B-C0AA-4549-8801-4E5719E79EF1%7D.jpg">

</head>
<body>
Hello there



<a href="/form">To the form pls</a>

    <script src="echohealth.js"></script>
</body>
</html>