<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/login.css" th:href="'/login.css'">
</head>
<body class="text-center">
<h1>Welcome to EcoHealth</h1>
<div class="image">
    <img src="../static/img/skotte.jpg" th:src="'/img/skotte.jpg'" alt="skotte" >
</div>
<div class="form">
    <div class="pt-5">
        <div class="global-container">
            <div class="card login-form">
                <div class="card-body">
                    <h3 class="card-title text-center"> Please sign in</h3>
                    <div class="card-text">
                        <form method="post" action="/check">
                            <div class="form-group">
                                <label for="exampleInputEmail1"> Enter personal number </label>
                                <input type="text" class="" name="persNo" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
                            <div class="form-group">
                                <label >Enter Password </label> <br>
                                <input type="password" name="password" >
                            </div>
                            <button type="submit" class="btn btn-primary btn-block"> Sign in </button>
                            <div class="sign-up">
                                Don't have an account? <a href="#"> Create One </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>-->
        <!--    <input type="text" name="persNo">-->
        <!--    <input type="password" name="password">-->
        <!--    <button class="button" type="submit">Sign in</button>-->
        <!--</form>-->
    </div>
</div>
<!--<div class="image">-->
<!--   <img src="../static/img/skotte.jpg" th:src="'/img/skotte.jpg'" alt="skotte">-->
<!--</div>-->
</body>
</html>